@import '../../sass/_variables';
@import '../../sass/_mixins';
@import '../../sass/container';

.about-content-wrapper {
  display: flex;
  @include flex();

  @include tablet {
    @include flex(row, space-evenly);
  }
}

.dp {
}

.text-wrapper {
  align-self: flex-end;
  width: 100%;
}

.text {
  color: $color-white;
  font-family: $font-main;
  font-size: $fs-text;
  width: 90%;

  @include tablet {
  }
}
