@import '../../sass/_variables';
@import '../../sass/_mixins';
@import '../../sass/container';

.about-content-wrapper {
  display: flex;
  @include flex();
  margin-top: 2rem;

  @include desktop {
    @include flex();
    margin: auto;
    width: 90%;

    .sectionOne {
      display: flex;
      @include flex(row, space-around, center);
    }
    .sectionTwo {
      display: flex;
      @include flex(row, space-evenly, center);
    }
  }

  .text-wrapper {
    @include desktop {
      max-width: 60%;
    }
  }

  .text {
    color: $color-white;
    font-family: $font-main;
    font-size: $text-mob;
    // line-height: 1.8;

    @include tablet {
      font-size: $text-tab;
      font-weight: 500;
      line-height: 1.6;
    }
    @include desktop {
      // line-height: 1.8;
    }
  }

  .techs {
    font-weight: 700;
  }
}

.profile {
  display: none;
  @include tablet {
    // padding-right: 3rem;
    height: 100%;
  }
  @include desktop {
    display: block;
    max-width: 35%;
  }
}
.profile-mobile {
  padding: 1.5rem 0 1rem;

  @include tablet {
  }

  @include desktop {
    display: none;
    padding: 0;
  }
}
