@import '../../sass/_variables';
@import '../../sass/_mixins';
@import '../../sass/container';

.about-content-wrapper {
  display: flex;
  @include flex(column-reverse);

  @include tablet {
    @include flex();
  }

  @include desktop {
    @include flex(row, center, center);
  }
}

.profile {
  display: none;
  @include tablet {
    padding-right: 1rem;
  }
  @include desktop {
    display: block;
    max-width: 35%;
  }
}
.profile-mobile {
  padding: 2rem 0;

  @include tablet {
    padding: 0;
  }

  @include desktop {
    display: none;
  }
}

.text-wrapper {
  @include tablet {
    padding: 5%;
  }
  @include desktop {
    // max-width: 60%;
    // padding-right: 2rem;
  }
  @include super {
  }
}

.text {
  color: $color-white;
  font-family: $font-main;
  font-size: $text-mob;
  line-height: 1.5;

  @include tablet {
    font-size: $text-tab;
    line-height: 1.6;
  }
  @include desktop {
    // line-height: 1.8;
  }
}
