.home-container {
  display: flex;
  @include flex(row, flex-start, center);
  // background-image: url('../../images/smallerj.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 60%;
  padding: 0 10%;
  height: 100vh;

  @include tablet {
    background-size: contain;
    // margin: auto;
    // width: 80vw;
    // background-image: url('../../images/smallj.png');
    // background-position: center right;
    // background-size: 40%;
  }

  @include desktop {
  }
}

.container {
  padding-right: 5%;
  min-height: 100vh;
  // min-height: 100%;

  @include tablet {
    // min-height: 700px;
  }
}
.about {
  // height: 100vh;
}
.skills {
  height: 80vh;
}

.project-container {
  display: flex;
  @include flex(column, space-around, null);
  padding-bottom: 10%;
}

.form-container {
  width: 100%;
  // height: 100vh;
}
