.contact {
  display: flex;
  @include flex(column, center, flex-start);

  .info-wrapper {
    @include flex();
    margin: 0 1.5rem;

    @include desktop {
      margin: 0 2rem;
    }
  }
  .text-wrapper {
    padding: 0;
    padding-bottom: 5%;
    max-width: 85%;
  }
}

.form {
  display: flex;
  @include flex(column, null, null);
  max-width: 85%;
  margin: auto;

  input {
    background: $textfield-bg;
    border-radius: 5px;
    color: $color-grey;
  }

  .btn {
    align-self: flex-end;
    margin-top: 2rem;
  }
}
.icon-container {
  display: flex;
  @include flex(column, center, flex-start);
  padding: 1rem 0;

  @include tablet {
    @include flex(row, space-evenly, center);
  }

  .icon {
    display: flex;
    @include flex(row, space-evenly, center);
    color: $color-white;
    letter-spacing: 1px;
    padding-right: 1rem;
    text-decoration: none;
  }
}

.name-email {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .width {
    width: 50%;
  }
}

.textField {
  color: $color-brand;
  // background: $color-brand;
}

.contact-form {
  display: flex;
  @include flex(column, space-between, flex-end);
}

.btn {
  margin: 2rem 0;
}
.send-btn {
  display: flex;
  @include flex(row, flex-end, flex-end);

  width: 105px;
  align-self: flex-end;
}

.contact-images {
  display: flex;
  @include flex(row, space-between, center);
  margin-top: 2rem;
  width: 100%;
}

.contact-img {
  max-height: 200px;
}
