.contact {
  display: flex;
  @include flex();
  // height: 80vh;

  .info-wrapper {
    margin: 2rem 0;

    @include desktop {
      margin: 2rem 0;
    }
  }
  .text-wrapper {
    display: flex;
    @include flex(column, space-between, center);
    color: $color-white;
    height: 80%;
    max-width: 85%;
    margin: auto;
    padding-top: 2rem;

    @include desktop {
      max-width: 75%;
    }
  }
}
.text {
  line-height: 1.8;
}

.icon-container {
  display: flex;
  @include flex();
  padding: 1rem 0;
  width: 100%;

  @include tablet {
    @include flex(row, space-around, center);
  }

  .icon {
    color: $color-white;
    height: 20px;
    padding-right: 1rem;
  }
}
.icon-wrapper {
  display: flex;
  @include flex(row, center, center);
  color: $color-white;

  line-height: 2.5;
  text-decoration: none;
  padding: 0 1.5rem;

  &:hover {
    color: $color-brand;
  }
}

.name-email {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .width {
    width: 50%;
  }
}

.textField {
  color: $color-brand;
  // background: $color-brand;
}

.contact-form {
  display: flex;
  @include flex(column, space-between, flex-end);
}

.btn {
  margin: 2rem 0;
}
.send-btn {
  display: flex;
  @include flex(row, flex-end, flex-end);

  width: 105px;
  align-self: flex-end;
}

.contact-images {
  display: none;

  @include tablet {
    display: flex;
    @include flex(row, center, center);
    flex: 1;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    width: 100vw;
  }

  @include desktop {
    // width: 80vw;
    // margin: auto;
  }
}
.contact-img {
  max-height: 180px;

  @include tablet {
    padding: 0 5px;
  }

  @include desktop {
    max-height: 250px;
    // padding: 0 8px;
  }
}

/* Credit */
.credit {
  color: $color-grey;
  font-size: $xs;
  display: flex;
  @include flex(row);
  margin: 1rem 0;
  width: 100%;

  .author {
    color: $color-brand-dark;

    &:hover {
      color: $color-white;
    }
  }
}

/* Form */
.form {
  display: flex;
  @include flex(column, null, null);
  max-width: 85%;
  margin: auto;

  input {
    background: $textfield-bg;
    border-radius: 5px;
    color: $color-grey;
  }

  .btn {
    align-self: flex-end;
    margin-top: 2rem;
  }
}
