.form {
  display: flex;
  @include flex(column, null, null);
  max-width: 85%;

  input {
    background: $textfield-bg;
    border-radius: 5px;
    color: $color-grey;
  }

  .btn-wrapper {
    align-self: flex-end;
    margin-top: 2rem;
  }
}

.name-email {
  display: flex;
  flex-wrap: wrap;

  .width {
    width: 50%;
  }
}

.textField {
  color: $brand-main;
  // background: $brand-main;
}

.send-btn {
  //   display: flex;
  @include flex(row, space-between, center);
  margin-top: 3rem;
  width: 105px;
}
