.home-container {
  display: flex;
  @include flex(row, flex-start, center);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 60%;
  padding: 0 10%;
  height: 100vh;

  @include tablet {
    background-size: contain;
  }

  @include desktop {
  }
}

.container {
  padding: 0 5%;
  min-height: 100vh;
  // min-height: 100%;

  @include tablet {
    // min-height: 700px;
  }
}
.about {
  // height: 100vh;
}
.skills {
  display: flex;
  @include flex(column, center, flex-start);
}

.project-container {
  display: flex;
  @include flex(column, space-around, null);
  // padding-bottom: 10%;
}

.form-container {
  width: 100%;
  // height: 100vh;
}
