.container {
  display: flex;
  align-items: center;
  background-image: url('../../images/smallerj.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 50%;

  height: 92vh;
  margin-top: 10;

  @include tablet {
    background-image: url('../../images/smallj.png');
    background-size: contain;
  }

  @include desktop {
  }
}

/* Title */
.title-wrapper {
  padding-left: 12%;
  width: 80%;
}
.greeting {
  @include home-title;
}
.brand {
  color: $brand-main;
}
.J {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $title-desktop;
  font-weight: 600;
}
.row {
  display: flex;
  margin: auto;
}
.space {
  padding-right: $sm;
}

.subheading {
  color: #8d8d8d;
  font-size: $xs;
  font-weight: 400;
  letter-spacing: 1px;

  @include tablet {
    font-size: $sm;
    letter-spacing: 3px;
  }
}

.button {
  background: transparent;
  border: $btn-border;
  border-radius: 3px;
  color: $brand-main;
  font-size: $sm;

  letter-spacing: 4px;
  margin-top: 25px;
  padding: 10px 12px;
  text-transform: uppercase;
  width: 150px;

  &:hover {
    background: $brand-main;
    color: $color-tags;
    font-weight: 600;
  }
}
