@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}
@mixin super {
  @media (min-width: $super-width) {
    @content;
  }
}

// Structure
@mixin flex($direction: column, $justify: center, $align: center) {
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
