.menubar {
  display: flex;
  @include flex(row, space-between, center);
  // height: 60px;
  width: 100%;
}
.navlinks {
  display: flex;
  @include flex(row, space-around, center);
  height: 80px;

  @include tablet {
    // background: #171717;
    margin: auto;
    width: 80%;
  }
  @include desktop {
    width: 70%;
  }
}
.bar-wrapper {
  background: $nav-bg; //$textfield-bg;
}

.links {
  color: $color-white;
  font-size: $xxs;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  @include flex(column, space-between, center);
  letter-spacing: 1px;
  opacity: 0.7;
  height: 55px;

  &:hover {
    color: $color-brand;
    opacity: 1;
  }
  a:active {
    color: $color-brand;
    opacity: 1;
  }

  @include tablet {
    font-size: $xs;
    letter-spacing: 2px;
    // height: 40px;
  }

  img {
    height: 45px;
    width: auto;

    .navicons {
      width: 50px;
    }
  }
}
.about-link {
  height: 55px;
}

.active {
  // color: $color-brand;
  text-decoration: none;
}

.menu-wrapper {
  position: fixed;
  top: 1rem;
  right: 7%;
  display: flex;
  @include flex();

  .menu-btn {
    color: $color-white;
    position: relative;

    background: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    padding: 4px 7px;

    &:hover {
      background: rgba(255, 255, 255, 0.9);
      opacity: 1;
    }

    @include tablet {
      padding: 5px 7px;
    }

    .menu-icon {
      align-self: center;
      color: $color-white;
      width: 45px;
      z-index: 5;

      @include tablet {
        top: 2rem;
        width: 50px;
      }
    }

    .menu-text {
      font-size: $xs;
      font-weight: 600;
      text-transform: uppercase;

      margin: 0;
      margin-top: -19px;
      z-index: 8;

      &:hover {
        color: $color-black;
      }
    }
  }
}
.button-menu {
  border-radius: 40px;
}
