.menubar {
  display: flex;
  @include flex(row, space-between, center);
  // height: 60px;
  width: 100%;
}
.navlinks {
  display: flex;
  @include flex(row, space-around, center);
  height: 80px;

  @include tablet {
    // background: #171717;
    margin: auto;
    width: 80%;
  }
  @include desktop {
    width: 70%;
  }
}
.bar-wrapper {
  background: $textfield-bg;
}

.links {
  color: $color-white;
  font-size: $xxs;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  @include flex(column, space-between, center);
  letter-spacing: 1px;
  opacity: 0.7;
  height: 55px;

  &:hover {
    color: $color-brand;
    opacity: 1;
  }
  a:active {
    color: $color-brand;
    opacity: 1;
  }

  @include tablet {
    font-size: $xs;
    letter-spacing: 2px;
    // height: 40px;
  }

  img {
    height: 45px;
    width: auto;

    .navicons {
      width: 50px;
      height: 50px;
    }
  }
}

.active {
  // color: $color-brand;
  text-decoration: none;
}

.menu-wrapper {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 31px;
  padding: 5px;
  position: fixed;
  top: 1rem;
  right: 7%;

  &:hover {
    background: rgba(255, 255, 255, 0.9);
    color: $color-black;
    opacity: 1;
  }

  .menu-btn {
    color: $color-white;
    position: relative;
    display: flex;
    @include flex();

    .menu-icon {
      align-self: center;
      color: $color-white;
      opacity: 0.8;

      width: 50px;
      height: 50px;
      z-index: 5;

      @include tablet {
        top: 2rem;
      }
    }

    .menu-text {
      color: $color-white;
      font-size: $xs;
      font-weight: 600;
      text-transform: uppercase;
      // position: absolute;
      margin: 0;
      // margin-top: 6px;

      z-index: 8;
    }
  }
}
