.home-title {
  color: $color-white;
  font-family: $font-heading;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;

  &:hover {
    color: $color-brand;
  }

  @include tablet {
    font-size: $title-tablet;
    // font-weight: 500;
    letter-spacing: 2px;
    line-height: 1;
  }
  @include desktop {
    font-size: $title-desktop;
    line-height: 58px;
  }
}
.subheading {
  color: $color-tert;
  font-family: $font-main;
  font-size: $sm;
  font-weight: 420;
  letter-spacing: 2px;

  @include tablet {
    font-family: $font-semibold;
    font-size: $md;
    font-weight: 500;
  }
}

.title {
  color: $color-brand;
  font-family: $font-heading;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
  // padding-left: 1rem;

  @include tablet {
    font-size: $title-tablet;
    font-weight: 600;
    // padding-left: 1.5rem;
  }
  @include desktop {
    line-height: 1.1;
    // padding-left: 2rem;
  }
}
.titlewrapper {
  padding: 1rem 0;
}
