.home-title {
  color: $color-white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,
    Helvetica, sans-serif;
  font-size: 47px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 42px;
  margin: 0;
  &:hover {
    color: $brand-main;
  }

  @include tablet {
    font-size: $title-tablet;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 50px;
  }
  @include desktop {
    font-size: $title-desktop;
    line-height: 58px;
  }
}

.title {
  color: $brand-main;
  font-size: 47px;
  margin: 0;

  @include tablet {
    font-size: $title-tablet;
  }
  @include desktop {
    width: 330px;
  }
}

.subheading {
  color: $color-grey;
  font-family: $font-main;
  font-size: $sm;
  font-weight: 400;
  letter-spacing: 3px;
  animation: myanim2 1s 1.8s backwards;
}
