// Screen Sizes
$desktop-width: 1080px;
$tablet-width: 600px;

// Colors
$bg-color: #282c34;

$brand-main: #ffc732; //yellow
$brand-sec: #fc0852; //pink
$color-tags: #515152;

$color-black: #000;
$color-grey: #8d8d8d;
$color-white: #fff;

$btn-border: 1px solid $brand-main;

// Fonts
$font-main: 'OpenSans-Bold', sans-serif;
$font-bold: 'OpenSans-ExtraBold', sans-serif;
$font-cursive: 'LaBelleAurore', cursive;

// Sizes
$xs: 9px;
$sm: 11px;
$md: 18px;
$lg: 25px;

$title-mobile: 38px;
$title-tablet: 53px;
$title-desktop: 53px;
