@import '../../sass/_variables';
@import '../../sass/_mixins';
@import '../../sass/_title';
@import '../../sass/_container';

/* Title */

.reverse {
  color: $color-brand;

  &:hover {
    color: $color-white;
  }
}
.J {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $title-desktop;
  font-weight: 600;
}
.row {
  display: flex;
  align-items: flex-end;
  margin: auto;
}

/** Button */
.btn-wrapper {
  margin-top: 4rem;
  font-family: $font-main;

  @include tablet {
    margin-top: 5rem;
  }
}
.contact-btn {
  border: $btn-border;
  border-radius: 3px;
  color: $color-brand;
  font-family: $font-main;
  font-size: $xs;
  font-weight: 550;
  padding: 8px 12px;
  letter-spacing: 1px;
  text-transform: uppercase;

  &:hover {
    background: $color-brand;
    color: $color-tags;
    // font-weight: 600;
  }

  @include tablet {
    font-size: $sm;
    font-weight: 600;
  }
}
