@import '../../sass/_variables';
@import '../../sass/_mixins';

.list-container {
  font-size: 14px;
  line-height: 1.5;

  @include tablet {
    margin: 2rem;
    font-size: 16px;
  }

  @include desktop {
    margin: 0;
  }
}

.item-container {
  padding: 3rem 0;
  display: flex;
  @include flex();
  flex: 1;

  @include tablet {
    padding: 5% 0;
  }

  @include desktop {
    // max-height: 50vh;
  }

  .info-wrapper {
    color: $light;
    display: flex;
    @include flex();
    padding: 0 1.5rem;

    @include desktop {
      @include flex(column, center, flex-start);
      padding: 0 50px;
      max-width: 520px;
    }
    @include tv {
      padding: 0 75px;
    }
  }
}

.project-title {
  color: $color-sec;
  font-size: 1.5rem;
  margin: 0;

  @include tablet {
    font-size: 1.7rem;
  }
}

.description {
  margin-bottom: 1.5rem;
  @include tablet {
    padding: 0 1rem;
    text-align: center;
  }
  @include desktop {
    margin-bottom: 0;
    padding: 0;
    text-align: left;
  }
}

/* 
 * Images 
 */
.img-wrapper {
  display: flex;
  @include flex();
  width: 100%;

  @include desktop {
    // width: 50%;
    width: fit-content;
  }
}
.project-img {
  height: auto;
  width: 100vw;

  @include tablet {
    flex-grow: 1;
    width: 90vw;
  }

  @include desktop {
    max-height: 400px;
    width: auto;
    max-width: 100%;
    max-height: auto;
  }

  @include tv {
    max-height: 420px;
  }
}
.r10-img {
  height: 50vh;
  @include desktop {
    height: 480px;
  }
}
.msb {
  height: 480px;
  @include tablet {
    height: 500px;
  }
  @include desktop {
    padding-right: 150px;
    padding-left: 20px;
    height: 520px;
  }
  @include tv {
    height: 600px;
  }
}

/* 
 * ProjectListRows 
 */
.direction {
  @include desktop {
    display: flex;
    @include flex(row, center, center);
  }
}
.direction-rev {
  @include desktop {
    display: flex;
    @include flex(row-reverse, center, center);
    width: 100%;
  }
}

.tech {
  color: $color-brand-dark;
  padding: 0 1.5rem;

  @include tablet {
    padding: 0;
  }
}
