@import '../../sass/_variables';
@import '../../sass/_mixins';

.list-container {
  font-size: 14px;
  line-height: 1.5;

  @include tablet {
    margin: 2rem;
    font-size: 16px;
  }

  @include desktop {
    margin: 0;
  }
}

.item-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  @include flex();
  flex: 1;

  @include tablet {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  @include desktop {
    max-height: 50vh;
  }

  .info-wrapper {
    // background: rgba(0, 0, 0, 0.5);
    color: $light;
    display: flex;
    @include flex();
    padding: 0 1.5rem;

    @include desktop {
      @include flex(column, center, flex-start);
      // padding-left: 1rem;
      // padding-right: 3rem;
      width: 50%;
    }
  }

  .info-rev {
    @include desktop {
      // padding: 0;
    }
  }
}

.project-title {
  color: $color-sec;
  font-size: 1.5rem;
  margin: 0;

  @include tablet {
    font-size: 1.7rem;
  }
}

.description {
  margin-bottom: 1.5rem;
  @include desktop {
    margin-bottom: 0;
  }
}

/* 
 * Images 
 */
.img-wrapper {
  display: flex;
  @include flex();
  width: 100%;
  flex-grow: 1;

  @include desktop {
    width: 50%;
  }
}
.project-img {
  height: auto;
  width: 100vw;

  @include tablet {
    flex-grow: 1;
    width: 90vw;
  }

  @include desktop {
    max-height: 300px;
    width: auto;
    max-width: 100%;
    max-height: auto;
  }

  @include tv {
    max-height: 420px;
  }
}
.r10-img {
  height: 50vh;
}

/* 
 * ProjectListRows 
 */
.direction {
  @include desktop {
    display: flex;
    @include flex(row, space-evenly, center);
  }

  .info-wrapper {
    width: 45%;
  }
}
.direction-rev {
  @include desktop {
    display: flex;
    @include flex(row-reverse, space-evenly, center);
    width: 100%;
  }

  .info-wrapper {
    width: 42%;
  }
}

.tech {
  color: $color-brand-dark;
  padding: 0 1.5rem;

  @include tablet {
    padding: 0;
  }
}
