@import '../../sass/_variables';
@import '../../sass/_mixins';
@import '../../sass/_title';
@import '../../sass/_container';

/* Title */
.title-wrapper {
  max-width: 300px;
  @include tablet {
    max-width: 100%;
  }
}

.brand {
  color: $brand-main;
}
.J {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $title-desktop;
  font-weight: 600;
}
.row {
  display: flex;
  align-items: flex-end;
  margin: auto;
}
.space {
  padding-right: $sm;
}

/** Button */
.btn-wrapper {
  margin-top: 3rem;
}
.contact-btn {
  font-size: $sm;
  font-weight: 300;
  letter-spacing: 1px;
}
