@import '../../sass/_variables';
@import '../../sass/_mixins';
@import '../../sass/_title';
@import '../../sass/_container';

/* Title */

.reverse {
  color: $color-brand;

  &:hover {
    color: $color-white;
  }
}
.J {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $title-desktop;
  font-weight: 600;
}
.row {
  display: flex;
  align-items: flex-end;
  margin: auto;
}

/** Button */
.btn-wrapper {
  margin-top: 3rem;
  font-family: $font-main;
}
.contact-btn {
  font-family: $font-main;
  font-size: $sm;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalise;
}
