@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import '../../sass/_variables';
@import '../../sass/mixins';

.flex {
  display: flex;
  @include flex(column, space-between, null);
  height: 88vh;
  padding-top: 20px;
  width: 100vw;
}
.toptag {
  top: 0;
}
.bodytags {
  padding-left: 4%;

  @include tablet {
    padding-left: 5%;
  }

  @include desktop {
    padding-left: 10%;
  }
}

.children {
  padding: 2% 0;
}
.children-home {
  display: flex;
  @include flex(column, center, null);
  height: 110%;
}
