@import '../../sass/_variables';
@import '../../sass/_mixins';

.navbar {
  background: $color-black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 0 5%;
  height: 60px;
  // width: 50%;

  @include tablet {
    padding: 0 12%;
  }
}

.links {
  color: $color-white;
  font-size: $xs;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  @include flex($justify: space-between);
  letter-spacing: 1px;
  height: 40px;

  &:hover {
    color: $brand-main;
  }

  @include tablet {
    letter-spacing: 3px;
  }
}

.active {
  color: $brand-main;
  text-decoration: none;
}
