@import '../../sass/_variables';
@import '../../sass/mixins';

.tags {
  font-family: $font-cursive;
  font-size: $tags-mobile;
  color: $color-tags;
  margin: 0;

  @include tablet {
    font-size: $tags-tablet;
  }
}
