@import '../../sass/_variables';
@import '../../sass/_mixins';
@import '../../sass/_container';

.project-container {
  @include desktop {
    padding: 0 2rem;
  }

  .title {
    padding: 0 5%;

    @include tablet {
      padding: 0 2rem;
    }

    @include desktop {
      padding: 0;
    }
  }

  .btn-container {
    display: flex;
    @include flex();
    margin: 2rem 0;
    width: 100%;
  }
  .icon {
    display: flex;
    @include flex(row, space-evenly, center);
    // background: $color-brand;
    // border-radius: 3px;
    color: $color-tags;
    font-size: $sm;
    // font-weight: 500;
    padding: 0 10px;
    // width: 200px;

    &:hover {
      color: $color-white;
    }

    @include tablet {
      font-size: inherit;
      // padding: 0 $sm;
      // width: 250px;
    }

    .github-icon {
      width: 35px;
      padding-right: $xxs;

      @include tablet {
        width: 40px;
      }
    }
  }
}
