@import '../../sass/_variables';
@import '../../sass/_mixins';

.PieGraph {
  display: flex;
  @include flex();
  width: 100%;
}
.skills-mobile {
  display: flex;
  @include flex(column, center, flex-start);
  width: 100%;
}

.skills-text {
  color: $light;
  font-size: $text-mob;
  line-height: 1.5;
  padding-right: 8%;
  padding-left: 3%;
  margin: 0;

  // @include desktop {
  //   padding-right: 3%;
  //   padding-left: 0;
  //   // max-width: 350px;
  // }
}

.piechart {
  display: flex;
  @include flex();
}

.labels {
  font-size: $sm;
}
